
/* Code block */

.highlight {
    pre {
        font-size: 0.8em;
        font-family: $mono !important;
        overflow: scroll;
        overflow-y: hidden;
        display: block;
        padding: .8em !important;
        overflow-x: auto;
        line-height: 1.45em;
        white-space: pre;
    }
    margin-bottom: 1.8em;
    overflow-y: hidden;
    overflow-x: auto;
}

/* Inline code */

p, li {
    code, tt {
        @extend .mono;
        display: inline-block;
        white-space: no-wrap;
        background:#fff;
        font-size:.8em;
        line-height:1.5em;
        color:#555;
        border:1px solid #ddd;
        @include border-radius(.4em);
        padding:0 .3em;
        margin:-1px 0;
    }

    pre code {
        font-size: 1em !important;
        background: none;
        border: none;
   }
}
