{% extends "base.html" %}

{% block title %}Archives — shymonk{% endblock %}

{% block content %}
<h2 class="archive-page-title">Blog Archives</h2>
<div class="annual-archive">
    {% for year, articles in dates|groupby('date.year')|sort(reverse=True) %}
    <h3 class="archive-year">{{ year }}</h3>
    <ul class="archive-list" role="list">
        {% for article in articles %}
        <li class="archive-item">
            <div class="archive-date">
                <time datetime="{{ article.locale_date }}" pubdate>
                    <span class="month">{{ article.date|strftime('%b') }}</span>
                    <span class="day">{{ article.date|strftime('%d') }}</span>
                </time>
            </div>
            <div class="vertical-center archive-title">
                <a href="{{ SITEURL }}/{{ article.url }}" class="center-inner archive-link" role="link">
                    {{ article.title }}
                </a></div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}
