{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}
<article class="blog-post" role="article">
    <!-- Title -->
    <div class="post-header">
        <h2 class="post-title">
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </h2>
    </div>

    <!-- Publish date -->
    <div class="post-date">
        <date>{{ article.locale_date }}</date>
    </div>

    <!-- Content -->
    <div class="post-content">
        {{ article.content }}
    </div>

    <!-- Share -->
    <div class="post-social-share">
        <div class="g-plusone" data-size="medium"></div>
    </div>

    <!-- Tags -->
    {% if article.tags %}
    <div class="group post-footer">
        <footer>
            <ul class="inline-list tag-list pull-right">
                {% for tag in article.tags %}
                <li class="tag">
                    <a class="tag-link" href="">{{ tag|escape }}</a>
                </li>
                {% endfor %}</p>
            </ul>
        </footer>
    </div>
    {% endif %}

    <!-- Comments -->
    <div class="post-comments">
        {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
        <div class="comments">
            <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                var disqus_identifier = '{{ article.url }}';
                var disqus_url = '{{ SITEURL }}/{{ article.url }}';
                (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
        </div>
        {% endif %}
    </div>
</article>
{% endblock %}
