<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    <meta charset="utf-8" />

    <!-- Title -->
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <!-- CSS -->
    {% block css %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css"/>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/solarized_dark.min.css">
    {% endblock css %}
</head>

<body>
    <div class="container">
        <header>
            <div class="site-header">
                <!-- Cover and slogan -->
                <a href="/" class="header-link">
                    <div class="site-cover">
                        <img src="/{{ THEME_STATIC_DIR }}/images/avatar.jpg"/>
                    </div>
                    <h1 class="site-title">shymonk</h1>
                    <h3 class="site-slogan">Programming with python and emacs</h3>
                </a>

                <!-- Navigation -->
                <div class="site-navbar">
                    <nav role="navigation">
                        <h3 class="hide">Blog Navigation</h3>
                        <div class="site-nav-shadow"></div>
                        <ul class="inline-list site-nav-links">
                            {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}">{{ title }}</a></li>
                            {% endfor %}
                            {% if DISPLAY_PAGES_ON_MENU %}
                                {% for page in PAGES %}
                                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                            <li><a href="#">Search</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <!-- Content -->
        <div class="main-content" role="main">
            {% block content %}{% endblock %}
        </div>

        <!-- Footer -->
        <div class="site-footer">
            <footer>
                <p>
                    &copy; 2014 shymonk.
                    <span class="powered-by">
                        Powered by <a href="http://getpelican.com/">Pelican</a>.
                    </span>
                    <span class="theme-credit">
                        Theme Frankies by <a href="http://about.me/zhusee">Zhusee</a>.
                    </span>
                </p>
            </footer>
        </div>
    </div>

    <!-- Javascript -->
    {% block javascript %}
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/highlight.min.js"></script>
    {% endblock javascript %}

    {% include 'include/highlight_js.html' %}
    {% include 'include/disqus_js.html' %}
    {% include 'include/analytics_js.html' %}
</body>
</html>
